[Desktop Entry]
Version=@version
Encoding=UTF-8
Name=@title
Exec=/opt/@company/@project/app
Icon=/opt/@company/@project/icon.png
Terminal=false
Type=Application
Categories=GTK;Network;
StartupNotify=false
